* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

a {
  color: #2b2a27;
}

img {
  max-width: 100%;
}

/*  Common  */
.recipe-title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.contents-title {
 font-size: 1.25rem;
 border-bottom: solid 1px #ccc;
 padding-bottom: 5px;
 margin: 40px 0 15px 0;
}

.contents {
  display: flex;
  margin-bottom: 60px;
}

/*  Main-Left */
.left-img {
  width: 50%;
}

.left-img img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  vertical-align: bottom;
}


/*  Main-Right */
.right-recipe {
  width: 50%;
  padding: 40px 5% 0 5%;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-list dt {
  width: 85%;
  border-bottom: dotted 1px #ccc;
  padding: 6px 0;
}

.item-list dd {
  width: 15%;
  text-align: right;
  border-bottom: dotted 1px #ccc;
  padding: 6px 0;
}

.step-list li {
  border-bottom: dotted 1px #ccc;
  padding: 6px 0;
  margin-left: 20px;
}


/*  all-recipe-button */
.btn {
  text-align: center;
  margin-bottom: 80px;
}

.btn a {
  display: inline-block;
  color: #2b2a27;
    font-size: 0.875rem;
  text-decoration: none;
  border: solid 1px #2b2a27;
  padding: 18px 60px;
}


/*  footer  */
footer {
  font-size: 0.75rem;
  text-align: center;
  padding: 20px;
}

footer p {
  text-align: center;
}

.sns-link {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}

.sns-link li {
  padding: 0 10px;
}


/*  SmartPhone  */
@media screen and (max-width: 834px) {

  .contents {
    flex-direction: column;
  }

  .left-img {
      width: 100%;
  }

  .left-img img {
    height: auto;
  }

  .right-recipe {
    width: 100%;
  }
}