* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto-Serif JP', serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}


/*  common  */
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: auto 20px;
}


/* Header */
#header {
  width: 89%;
  max-width: 1920px;
  height: 84vh; /*高さ要調整*/
  background-image: url(./img/mainvisual-pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  writing-mode: vertical-rl;
  padding: 60px 80px;
  margin-bottom: 180px;
}

#header ul {
  margin-right: 60px;
}
#header li {
  padding-left: 22px;
}

.site-logo img {
  width: 40px;
}

.online-store {
  position: absolute;
  left: 40px;
  bottom: 40px;
  background-color: rgba(255,255,255,0.2);
  padding: 8px 24px;
}

.online-store a {
  border: solid 1px #ccc;
  padding: 30px 18px;
}

.online-store:hover {
  opacity: 0.8;
}


/*  News  */
#news {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 180px;
}

#news .section-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
}

#news .lang-en {
  display: block;
  font-size: 0.85rem;
  margin-left: 15px;
}

#news .lang-ja {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}

#news .news-list {
  writing-mode: vertical-rl;
  padding: 86px 100px 0 0;
}

.news-list dt {
  font-size: 0.75rem;
  border-right: solid 1px #000;
  padding: 14px 30px 14px 4px;
}

.news-list dd {
  padding: 15px 0 15px 30px;
}
.news-list dd:last-child {
  border-left: solid 1px #000;
}


/*  Product Common */
#products-1 .lang-ja, #products-2 .lang-ja {
  font-size: 2.0rem;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.lang-en {
  font-size: 0.85rem;
  margin-left: 15px;
}

.products {
  display: flex;
  margin-bottom: 180px;
}

.section-img {
  width: 65%;
  position: relative;
  margin-top: 100px;
}

.text-area {
  width: 56%;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -12px;
}


/*  Product-1 */
#products-1 {
  flex-direction: row-reverse
}

#products-1 .section-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  margin: 0 20px;
}

#products-1 .text-area {
  background: rgba(249, 233, 6, 0.6);
  left: -20px;
}


/*  Products-2  */
#products-2 .section-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  margin: 0 20px;
}

#products-2 .text-area {
  background: rgba(149, 42, 38, 0.6);
  right: -20px;
}


/*  Store-information */
#store-info iframe{
  width: 100%;
  vertical-align: bottom;
}


/*  Footer  */
#footer {
  background-color: #000;
  color: #fff;
  padding: 80px 80px 30px 30px;
}

#footer .footer-copyright {
  font-size: 0.5rem;
  text-align: center;
}

.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-right, .footer-left {
  writing-mode:vertical-rl;
}

.footer-left p {
  font-size: 0.85rem;
}

.address {
  font-size: 0.85rem;
  line-height: 2;
}

.site-title img {
  width: 40px;
  margin-left: 60px;
}

#footer ul {
  margin-right: 60px;
}

#footer li {
  padding-left: 22px;
}


/*  Smartphone  */
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }


/*  Header  */
    #header {
      background-image: url(./img/mainvisual-sp.jpg);
      padding: 25px;
      margin-bottom: 70px;
      }


/*  News  */
    #news {
      margin-bottom: 0 auto 70px;
    }

    #news .lang-ja {
      font-size: 1.75rem;
    }

    #news .news-list {
      padding: 20px 30px 0 0;
    }

    .news-list dt {
      padding: 14px 12px 14px 5px;
    }

    .news-list dd {
      padding: 15px 0 15px 12px;
    }

    .news-list dt:nth-of-type(n+4),
    .news-list dd:nth-of-type(n+4) {
      display: none;
    }

    .news-list dd:nth-of-type(3) {
      border-left: solid 1px #000;
    }


/*  Products  */
    .products {
      width: 100%;
      margin-bottom: 70px;
    }
    #products-1 .lang-ja, #products-2  .lang-ja {
      font-size: 1.5rem;
    }

    .lang-en {
      display: none;
    }

    #products-1 .section-title {
      margin-left: 10px;
    }

    #products-2 .section-title {
      margin-right: 10px;
    }

    .section-img {
      width: 80%;
      margin-top: 60px;
    }

    .text-area {
      padding: 25px 14px;
    }    


/*  Footer  */
    #footer {
      padding: 40px 20px 25px;
    }

    .site-title img {
      width: 40px;
      margin-left: 25px;
    }

    #footer ul {
      margin-right: 20px;
    }
    #footer li {
      font-size: 0.85rem;
      padding-left: 10px;
    }
}