* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
   font-size: 0.9rem;
   line-height: 1.7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/*  COMMON  */
.wrapper {
  max-width: 1000px;
  text-align: center;
  padding: 90px 16px 150px 16px;
  margin: 0 auto;
}

.fixed-bg {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.section-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
  position: absolute;
  top: 30%;
}

.item-title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: solid 6px #e03131;
  margin-bottom: 70px;
}


/*  HEADER  */
#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(./img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  padding: 20px 40px;
}

nav ul {
  display: flex;
  justify-content: end;
}

nav li {
  font-weight: bold;
  margin-left: 30px;
}

nav a {
  color: #fff;
  filter:drop-shadow(1px 1px 2px #121212);
}

nav a:hover {
  color: #e03131;
}

#header .site-title {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
}


/*  MENU  */
#menu .menu-img {
  background-image: url(./img/menu.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#menu .menu-contents {
  display: flex;
}

#menu .menu-item {
  width: 50%;
  padding: 0 45px;
}

#menu .menu-item dl {
  display: flex;
  flex-wrap: wrap;
}

#menu .menu-item dt {
  width: 87%;
  text-align: left;
  border-bottom: dotted 1px #000;
  margin-bottom: 20px;
}

#menu .menu-item dd {
  width: 13%;
  text-align: right;
  padding-top: 8px;
}

#menu .menu-item dl.food {
  margin-bottom: 55px;
}

#menu .menu-item:first-child {
  border-right: solid 1px #000;
}


/*  ABOUT  */
#about .about-img {
  background-image: url(./img/about.jpg);
  position: relative;
}

#about ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#about li {
  width: 50%;
  line-height: 2;
  text-align: left;
  box-sizing: border-box;
  padding: 2%;
}

#about .btn {
  width: 160px;
  height: 50px;
  color: #000;
  line-height: 3.5;
  display: inline-block;
  position: relative;
  transition: all 0.3 ease-in;
  padding: 0;
}

#about .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


#about .btn::before,
#about .btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border-color: #e03131;
  transition: all 0.3s ease;
}

#about .btn::before,
#about .btn::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

#about .btn span::before,
#about .btn span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

#about .btn::before,
#about .btn span::before {
  width:2px;
  height: 50%;
}

#about .btn::after,
#about .btn span::after {
  width: 20%;
  height: 2px;
}

#about .btn:hover::before,
#about .btn span:hover::before {
  height: 100%;
}

#about .btn:hover::after,
#about .btn span:hover::after {
  width: 100%;
}


/*  LOCATION  */
.location-img {
  background-image: url(./img/location.jpg);
  position: relative;
}

#location .item-map {
  filter: grayscale(100%);
  margin: 0 0 20px 0;
}

#location .item-map iframe {
  width: 100%;
  height: 400px;
}

#location .item-info p {
  text-align: left;
  line-height: 2;
}


/*  FOOTER  */
footer p {
  font-size: 0.5rem;
  text-align: center;
  padding: 6px 0;
}


/*  SMARTPHONE SITE  */
@media screen and (max-width: 767px) {


/*  COMMON  */
  .wrapper {
    padding: 30px 16px 60px;
  }
  .fixed-bg {
    height: 94px;
    background-attachment: scroll;
  }

  .section-title {
    font-size: 2.0rem;
  }

  .item-title {
    font-size: 1.25rem;
    margin-bottom: 25px;
  }


/*  HEADER  */
  #header .site-title img {
    height: 80px;
    top: 42%;
  }


/*  MENU  */
  #menu .menu-contents {
    flex-direction: column;
  }

  #menu .menu-item {
    width: 100%;
    padding: 0;
    }

  #menu .menu-item:first-child {
    border-right: none;
  }
 
  

/*  ABOUT */
  #about ul {
    flex-direction: column;
    margin-bottom: 40px;
}

  #about li {
    width: 100%;
  }


}